@font-face {
  font-family: "iconfont"; /* Project id 3589404 */
  src: url('iconfont.woff2?t=1663744987658') format('woff2'),
       url('iconfont.woff?t=1663744987658') format('woff'),
       url('iconfont.ttf?t=1663744987658') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu2:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-yj:before {
  content: "\e650";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-jia:before {
  content: "\e600";
}

.icon-swticondianying:before {
  content: "\e620";
}

.icon-weibozhiye-liuhangbangdianjitai:before {
  content: "\e68b";
}

.icon-xingxing:before {
  content: "\e60e";
}

.icon-rise:before {
  content: "\e618";
}

.icon-xiangyou:before {
  content: "\e65c";
}

.icon-xiangzuo:before {
  content: "\e65d";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-star:before {
  content: "\e877";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-xiangxia:before {
  content: "\e65b";
}

.icon-chazhao:before {
  content: "\e773";
}

.icon-tongzhi:before {
  content: "\e772";
}

.icon-huiyuan:before {
  content: "\e76e";
}

.icon-tiaojie:before {
  content: "\e76f";
}

.icon-shouye:before {
  content: "\e770";
}

.icon-zhinan:before {
  content: "\e771";
}

